/* Leeprky#2063 */
:root{--blur: 3px;}
/* HOVER */
/* Expanded Hover Blur */
.inner-1ilYF7:hover .header-QKLPzZ,
.inner-1ilYF7:hover .headerFill-adLl4x {
   backdrop-filter: blur(var(--blur-hover-modal));
   background-color: rgba(7, 7, 7, 0.397);
}
/* Popout Hover Blur */

/* PC-Spotify hoevr*/
[style*="background-image:"] .powercord-spotify:hover, [style*="background-image:"] > .container-3baos1:hover, [style*="background-image:"] .wrapper-24pKcD:hover {
   backdrop-filter: blur(var(--blur-hover-pcspotify));
   background-color: rgba(7, 7, 7, 0.397);
}
.panels-j1Uci_:hover .powercord-spotify, 
.panels-j1Uci_:hover .container-3baos1 {
   backdrop-filter: blur(var(--blur-hover-pcspotify));
   backdrop-filter: blur(var(--blur-hover-pcspotify));
}

/* NO HOVER *//*
[style*="background-image:"] .topSectionPlaying-1J5E4n, .header-QKLPzZ, .headerFill-adLl4x, .panels-j1Uci_::after, .headerTop-3C2Zn0, .activity-11LB_k,
[style*="background-image:"] .topSectionPlaying-1J5E4n:hover, .header-QKLPzZ:hover, .headerFill-adLl4x:hover, .panels-j1Uci_::after, .headerTop-3C2Zn0:hover, .activity-11LB_k:hover {
   backdrop-filter: blur(var(--blur));
   background-color: rgba(7, 7, 7, 0.397);
}*/