.panels-j1Uci_{
  position: relative;
  z-index: 3;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    backdrop-filter: blur(var(--album-blur-amount));
  }
}
[style*="background-image:"]{
.powercord-spotify:hover,
.panels-j1Uci_>.container-3baos1:hover,
.wrapper-24pKcD:hover {
  position: relative;
  z-index: 3;
  &::after{
      backdrop-filter: brightness(70%);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
  }
}
}
.panels-j1Uci_ {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}