.panels-j1Uci_{
  position: relative;
  z-index: 3;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    backdrop-filter: blur(var(--blur-hover-pcspotify));
  }
}
[style*="background-image:"]{
.powercord-spotify:hover,
&>.container-3baos1:hover,
.wrapper-24pKcD:hover {
  position: center;
  z-index: 3;
  &::after{
      backdrop-filter: brightness(70%);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
  }
}
}
.panels-j1Uci_ {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// have them seperate incase I wanna do som'n later on
// spotify
.root-SR8cQa>.topSectionSpotify-1lI0-P, .userPopout-3XzG_A .headerSpotify-zpWxgT{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// games
.root-SR8cQa>.topSectionPlaying-1J5E4n, .userPopout-3XzG_A .headerPlaying-j0WQBV {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}