.powercord-spotify:hover, .container-3baos1:hover {
  backdrop-filter: brightness(70%); 
}
.panels-j1Uci_ {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}